{block content}
<div class="row">
    {if $user->identity->data["uzivatele"] == "1"}
        <nav><center><a n:href="Users:pridat" class="pure-button pure-button-primary"> přidat nového uživatele</a></center></nav>
        <h1 style="font-size: 20px; margin-bottom:20px; vertical-align:middle;"><img src="{$basePath}/pic/users.png" alt="Výpis uživatelů" style="vertical-align:middle;">&nbsp;&nbsp;Výpis uživatelů</h1>

        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">            
                <thead>
                    <tr>
                        <th class="header">ID</th>
                        <th class="header"><b>jméno</b></th>
                        <th class="header"><b>přihl. jméno</b></th>
                        <th class="header"><b>email</b></th>
                        <th class="header"><b>informační e-maily</b></th>
                        <th class="header"><b>projekty prohlížení</b></th>
                        <th class="header"><b>projekty úpravy</b></th>
                        <th class="header"><b>projekty mazání</b></th>
                        <th class="header"><b>projekty uzavírání</b></th>
                        <th class="header"><b>správa cenové kalkulace</b></th>
                        <th class="header"><b>správa předávacího protokolu</b></th>
                        <th class="header"><b>zákazníci prohlížení</b></th>
                        <th class="header"><b>zákazníci úpravy</b></th>
                        <th class="header"><b>zákazníci statistika</b></th>
                        <th class="header"><b>sklad prohlizeni</b></th>
                        <th class="header"><b>sklad úpravy</b></th>
                        <th class="header"><b>zobrazení řádu</b></th>
                        <th class="header"><b>správa dokumentů pracovního řádu</b></th>
                        <th class="header"><b>úprava uživatelů</b></th>
                        <th class="header" colspan=2><b>akce</b></th>
                    </tr>
                </thead>

                <tbody>
                    <tr n:foreach="$users as $u">
                        <td align="right">{$u->id}</td>
                        <td title="">{$u->name}</td>
                        <td title=""><b>{$u->username}</b></td>
                        <td title="">{$u->email}</td>
                        <td align="center" title="">{if $u->info_mail == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->projekt_prohlizeni == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->projekt_upravy == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->projekt_mazani == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->projekt_uzavirani == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->sprava_kalkulace == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->sprava_protokolu == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->zakaznici_prohlizeni == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->zakaznici_editace == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->zakaznici_statistika == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->sklad_prohlizeni == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->sklad_editace == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->rad_prohlizeni == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->rad_sprava == '1'}X{else}-{/if}</td>
                        <td align="center" title="">{if $u->uzivatele == '1'}X{else}-{/if}</td>
                        <td align="center"><a n:href="upravit, $u->id"><img src="{$basePath}/pic/edit.gif" alt="Editovat uživatele" title="Editovat projekt"></a></td>
                        <td align="center"><a n:href="smazat!, $u->id" onClick="return dotaz();"><img src="{$basePath}/pic/delete.gif" alt="Smazat uživatele" title="Smazat uživatele"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    {else}<h1>Nemáte právo pro tuto akci!{/if}
</div>
{/block}