{block content}
{if $user->identity->data["uzivatele"] == "1"}
    <div class="row">
        <nav><center><a n:href="Users:default" class="pure-button pure-button-primary">zpět na seznam uživatelů</a></center></nav>
        <h1 style="font-size: 20px; margin-bottom:20px; vertical-align:middle;"><img src="{$basePath}/pic/user_edit.png" alt="Editace uľivatele" style="vertical-align:middle;">&nbsp;&nbsp;Editace uživatele</h1>
            {form usersForm}
                {if $form->hasErrors()}
                    <div n:foreach="$form->errors as $errorMessage" class="alert alert-danger">
                        {$errorMessage}
                    </div>
                {/if}
            <div class="col-lg-12">
                <fieldset style="border:1px dashed #B3B300; background-color: #FFFFBF; width:750px;">
                    <legend style="font-weight:bold; color:#B36B00;">Informace o uživateli</legend>
                    <div class="table-responsive">
                        <table border="0" class="table table-hover tablesorter">
                            <tr><td><b>uživatelské jméno:</b><b class="star" title="povinná položka">*</b></td><td>{input username}</td></tr>
                            <tr><td><b>celé jméno:</b><b class="star" title="povinná položka">*</b></td><td>{input name}</td></tr>
                            <tr><td><b>e-mail:</b><b class="star" title="povinná položka">*</b></td><td>{input email}</td></tr>
                            <tr><td><b>příjem informačních e-mailů:</b></td><td>{input info_mail}</td></tr>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="col-lg-12">
                <fieldset style="border:1px dashed #B3B300; background-color: #FFFFBF; width:750px;">
                    <legend style="font-weight:bold; color:#B36B00;">Úprava práv - PROJEKTY</legend>
                    <div class="table-responsive">
                        <table  class="table table-hover tablesorter">
                            <tr><td><b>prohlížet:</b></td><td>{input projekt_prohlizeni}</td></tr>
                            <tr><td><b>editovat:</b></td><td>{input projekt_upravy}</td></tr>
                            <tr><td><b>mazat:</b></td><td>{input projekt_mazani}</td></tr>
                            <tr><td><b>uzavírat:</b></td><td>{input projekt_uzavirani}</td></tr>
                            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                            <tr><td><b>spravovat<br/> cenovou<br/> kalkulaci:</b></td><td>{input sprava_kalkulace}</td></tr>
                            <tr><td><b>spravovat<br/> předávací<br/> protokol:</b></td><td>{input sprava_protokolu}</td></tr>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="col-lg-12">
                <fieldset style="border:1px dashed #B3B300; background-color: #FFFFBF; width:750px; margin-top:20px;">
                    <legend style="font-weight:bold; color:#B36B00;">Úprava práv - ZÁKAZNÍCI</legend>
                    <div class="table-responsive">
                        <table  class="table table-hover tablesorter">
                            <tr><td><b>prohlížet:</b></td><td>{input zakaznici_prohlizeni}</td></tr>
                            <tr><td><b>editovat:</b></td><td>{input zakaznici_editace}</td></tr>
                            <tr><td><b>statistika:</b></td><td>{input zakaznici_statistika}</td></tr>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="col-lg-12">
                <fieldset style="border:1px dashed #B3B300; background-color: #FFFFBF; width:750px; margin-top:20px;">
                    <legend style="font-weight:bold; color:#B36B00;">Úprava práv - SKLAD</legend>
                    <div class="table-responsive">
                        <table  class="table table-hover tablesorter">
                            <tr><td><b>prohlížet:</b></td><td>{input sklad_prohlizeni}</td></tr>
                            <tr><td><b>editovat:</b></td><td>{input sklad_editace}</td></tr>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="col-lg-12">
                <fieldset style="border:1px dashed #B3B300; background-color: #FFFFBF; width:750px; margin-top:20px;">
                    <legend style="font-weight:bold; color:#B36B00;">Úprava práv - DOKUMENTY PRACOVNÍHO ŘÁDU</legend>
                    <div class="table-responsive">
                        <table  class="table table-hover tablesorter">
                            <tr><td><b>prohlížet<br/> dokumenty: </b></td><td>{input rad_prohlizeni}</td></tr>
                            <tr><td><b>spravovat<br/> dokumenty: </b></td><td>{input rad_sprava}</td></tr>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="col-lg-12">
                <fieldset style="border:1px dashed #B3B300; background-color: #FFFFBF; width:750px; margin-top:20px;">
                    <legend style="font-weight:bold; color:#B36B00;">Úprava práv - ADMINISTRACE</legend>
                    <div class="table-responsive">
                        <table  class="table table-hover tablesorter">
                            <tr><td><b>úprava uživatelů: </b></td><td>{input uzivatele}</td></tr>
                        </table>
                    </div>
                </fieldset>
            </div>
                        
            <div class="col-lg-12">
                {input send}
            </div>
        {/form}
    </div>
{else}<h1>Nemáte právo pro tuto akci!{/if}
    {/block}