{block content}
<div class="row">
    <nav><center><a n:href="Projekty:default" class="pure-button pure-button-primary">zrušit úpravu profilu</a></center></nav>
    <h1 style="font-size: 20px; margin-bottom:20px; vertical-align:middle;"><img src="{$basePath}/pic/user_edit.png" alt="Editace uľivatele" style="vertical-align:middle;">&nbsp;&nbsp;Editace účtu</h1>
        {form ucetForm}
            {if $form->hasErrors()}
                <div n:foreach="$form->errors as $errorMessage" class="alert alert-danger">
                    {$errorMessage}
                </div>
            {/if}

        <div class="col-lg-12">
            <fieldset style="border:1px dashed #B3B300; background-color: #FFFFBF; width:750px;">
                <legend style="font-weight:bold; color:#B36B00;">Informace o uživateli</legend>
                <div class="table-responsive">
                    <table class="table table-hover tablesorter">
                        <tr><td><b>uživatelské jméno:</b><b class="star" title="povinná položka">*</b></td><td>{input username}</td></tr>
                        <tr><td><b>celé jméno:</b><b class="star" title="povinná položka">*</b></td><td>{input name}</td></tr>
                        <tr><td><b>e-mail:</b><b class="star" title="povinná položka">*</b></td><td>{input email}</td></tr>
                    </table>
                </div>
            </fieldset>
        </div>

        <div class="col-lg-12">
            <fieldset style="border:1px dashed #B3B300; background-color: #FFFFBF; width:750px;">
                <legend style="font-weight:bold; color:#B36B00;">Změna hesla</legend>
                <div class="table-responsive">
                    <table class="table table-hover tablesorter">
                        <tr><td><b>Nové heslo:</b><b class="star" title="povinná položka">*</b></td><td>{input password_new}</td></tr>
                        <tr><td><b>Opakovat nové heslo:</b><b class="star" title="povinná položka">*</b></td><td>{input password_new2}</td></tr>
                        <tr><td></td><td>Nevyplňujte, pokud nechcete změnu hesla!</td></tr>
                    </table>
                </div>
            </fieldset>
        </div>

        <div class="col-lg-12">
            <fieldset style="border:1px dashed #B3B300; background-color: #FFFFBF; width:750px;">
                <legend style="font-weight:bold; color:#B36B00;">Informace o editace uživatele</legend>
                <div class="table-responsive">
                    <table class="table table-hover tablesorter">
                        <tr><td>Pro veškerou editaci je třeba zadat původní heslo!</td></tr>
                        <tr><td><b>Staré heslo:</b><b class="star" title="povinná položka">*</b></td></tr>
                        <tr><td>{input password_old}</td></tr>
                    </table>
                </div>
                {input send}
            </fieldset>
        </div>
    {/form}
</div>
{/block}