{block content}
{if $user->identity->data["sklad_prohlizeni"] == "1"}
    <nav>
        <center>
            <a n:href="novy" class="pure-button pure-button-primary">přidat prvek</a>
            <a n:href="vypis" class="pure-button pure-button-primary">výpis skupin</a>
        </center>
    </nav>
    <div class="row">
        <h1 style="font-size: 20px; margin-bottom:5px; vertical-align:middle;"><img src="{$basePath}/pic/timer.gif" alt="Výpis prvků skladu" style="vertical-align:middle;">&nbsp;&nbsp;Výpis prvků skladu</h1>
    </div>
    <br/>
    <div class="row">

        <div class="col-md-3">
            <h1>Skupiny</h1>
            <ul class="nav">
                <li><a n:href="vse">VŠECHNY POLOŽKY SKLADU</a></li>
                <li n:foreach="$prvky as $p"><a n:href="zobrazPrvek, $p->id">{$p->nazev_cz}</a></li>
            </ul>
        </div>

        <div class="col-md-9">
            <h1>Položky</h1>
            <p>Musíte si nejdříve vybrat skupinu!</p>
    </div>
{else}<h1>Nemáte právo pro tuto akci!{/if}
    {/block}