{block content}
{if $user->identity->data["sklad_editace"] == "1"}
    <nav>
        <center>
            <a n:href="default" class="pure-button pure-button-primary">zpět na výpis prvků</a>
        </center>
    </nav>
    <div class="row">
        <h1 style="font-size: 20px; margin-bottom:5px; vertical-align:middle;"><img src="{$basePath}/pic/wheel.gif" alt="Výpis prvků skladu" style="vertical-align:middle;">&nbsp;&nbsp;Přidat prvek</h1>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <h1>Skupiny</h1>
            <ul class="nav">
                <li><a n:href="vse">VŠECHNY POLOŽKY SKLADU</a></li>
                <li n:foreach="$prvky as $p"><a n:href="zobrazPrvek, $p->id">{$p->nazev_cz}</a></li>
            </ul>
        </div>

        <div class="col-md-9">
            <div class="table-responsive">
                {form prvekForm}
                    {if $form->hasErrors()}
                        <div n:foreach="$form->errors as $errorMessage" class="alert alert-danger">
                            {$errorMessage}
                        </div>
                    {/if}
                    <fieldset style="border:1px dashed #B30000; background-color: #FFBFBF;width:750px;">
                        <legend style="font-weight:bold; color:#B30000;">Přidání skladové položky</legend>
                        <table border="0" cellspacing="10" class="table table-bordered table-hover tablesorter">
                            <tr>
                                <td><b>Skupina:</b> *</td>
                                <td>{input skupina_prvku_id}</td>
                            </tr>
                            <tr><td><b>Název:</b> *</td><td>{input nazev}</td></tr>
                            <tr><td><b>Název anglicky:</b></td><td>{input nazev_eng}</td></tr>
                            <tr><td>&nbsp;</td><td>Pokud nebude vyplněno, automaticky se přiřadí <b>česky název</b></td></tr>
                            <tr><td><b>obrázek:</b></td><td>{input obrazek}</td></tr>
                            <tr><td>&nbsp;</td><td>Maximální velikost obrázku <b>4MB</b>, obrázky typu - <b>jpeg</b>, <b>gif</b>, <b>png</b></td></tr>
                            <tr><td><b>Stávající obrázek:</b></td>
                                <td valign="middle"></td>
                            </tr>
                            <tr><td>&nbsp;</td><td>Nový obrázek lze vložit po odstranění <b>stávajícího</b></td></tr>
                            <tr><td><b>Rozměry:</b></td><td>{input rozmery}&nbsp;mm</td></tr>
                            <tr><td><b>Váha:</b> *</td><td>{input vaha}&nbsp;kg</td></tr>
                            <tr><td><b>Příkon:</b> *</td><td>{input prikon}&nbsp;W</td></tr>
                            <tr><td><b>Cena:</b> *</td><td>{input cena}&nbsp;kč</td></tr>
                            <tr><td><b>Cena pronájmu:</b> *</td><td>{input cena_pronajmu}&nbsp;kč</td></tr>
                            <tr><td><b>Počet (celkově):</b> *</td><td>{input pocet}&nbsp;ks</td></tr>
                            <tr><td valign=top><b>Poznámka:</b></td><td>{input poznamka}</td></tr>
                            <tr><td><b>Zobrazit na webu:</b></td><td>{input zobrazit}</td></tr>
                            <tr><td>&nbsp;</td><td>pole označená symbolem * jsou povinná</td></tr>
                            <tr><td colspan="2" align="center">{input send}</td></tr>
                        </table>
                    </fieldset>
                {/form}
            </div>
        </div>
    </div>
{else}<h1>Nemáte právo pro tuto akci!{/if}
    {/block}