{block content}
{if $user->identity->data["sklad_prohlizeni"] == "1"}
    <nav>
        <center>
            <a n:href="novy" class="pure-button pure-button-primary">přidat prvek</a>
            <a n:href="default" class="pure-button pure-button-primary">výpis skupin</a>
        </center>
    </nav>
    <div class="row">
        <h1 style="font-size: 20px; margin-bottom:5px; vertical-align:middle;"><img src="{$basePath}/pic/timer.gif" alt="Výpis prvků skladu" style="vertical-align:middle;">&nbsp;&nbsp;Výpis prvků skladu</h1>
    </div>
    <br/>
    <div class="row">

        <div class="col-md-3"> 
           <h1>Skupiny</h1>
            <ul class="nav">
                <li><a n:href="vse">VŠECHNY POLOŽKY SKLADU</a></li>
                <li n:foreach="$prvky as $p"><a n:href="zobrazPrvek, $p->id">{$p->nazev_cz}</a></li>
            </ul>
        </div>

        <div class="col-md-9">
            <h1>Položky</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-hover tablesorter ">
                    <thead>
                        <tr class="active">
                            <th class="header"><a href="#"><i class="fa fa-sort"></i> ID</a></th>
                            <th class="header"><a href="#"><i class="fa fa-sort"></i> Název</a></th>
                            <th class="header"><a href="#"><i class="fa fa-sort"></i> Název AJ</a></th>
                            <th class="header"><a href="#"><i class="fa fa-sort"></i> Na webu</a></th>
                            <th class="header"><a href="#"><i class="fa fa-sort"></i> Na webu AJ</a></th>
                            <th class="header"><a href="#"><i class="fa fa-sort"></i> Počet prvků ve skupině</a></th>
                            <th class="header"><a href="#"><i class="fa fa-sort"></i> Počet prvků na webu</a></th>
                            <th class="header"><a href="#"><i class="fa fa-sort"></i> Nadskupina</a></th>
                            <th class="header" colspan="2">Akce</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr n:foreach="$prvky->order('nazev_cz ASC') as $s">
                            <td>{if $user->identity->data["sklad_editace"] == "1"}<a n:href="upravit, $s->id">{$s->id}</a>{else}<a n:href="zobrazit, $s->id">{$s->id}</a>{/if}</td>
                            <td>{$s->nazev_cz}</td>
                            <td>{$s->nazev_en}</td>
                            <td>{$s->menu_cz}</td>
                            <td>{$s->menu_en}</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {if $user->identity->data["sklad_editace"] == "1"}<td align="center"><a n:href="upravit, $s->id"><img src="{$basePath}/pic/edit.gif" alt="Editovat prvek" title="Editovat prvek"></a></td>{/if}
                            {if $user->identity->data["sklad_editace"] == "1"}<td align="center"><a n:href="smazatSkupinu!, $s->id" onClick="return dotaz();"><img src="{$basePath}/pic/delete.gif" alt="Smazat prvek" title="Smazat prvek"></a></td>{/if}
                        </tr>
                    </tbody>


                </table>
            </div>
        </div>

    </div>
{else}<h1>Nemáte právo pro tuto akci!{/if}
    {/block}