{block content}
{if $user->identity->data["sklad_prohlizeni"] == "1"}
    <nav>
        <center>
            <a n:href="default" class="pure-button pure-button-primary">zpět na výpis prvků</a>
            <br><br>
            <a n:href="kopirovat, $prvek->id" class="pure-button pure-button-primary">Zkopírovat prvek</a>
        </center>
    </nav>
    <div class="row">
        <h1 style="font-size: 20px; margin-bottom:5px; vertical-align:middle;"><img src="{$basePath}/pic/wheel.gif" alt="Výpis prvků skladu" style="vertical-align:middle;">&nbsp;&nbsp;Zobrazit prvek</h1>
    </div>
    <br/>
    <div class="row">

        <div class="col-md-3">
            <h1>Skupiny</h1>
            <ul class="nav">
                <li><a n:href="vse">VŠECHNY POLOŽKY SKLADU</a></li>
                <li n:foreach="$prvky as $p"><a n:href="zobrazPrvek, $p->id">{$p->nazev_cz}</a></li>
            </ul>
        </div>

        <div class="col-md-9">
            <h1>{$prvek->nazev}</h1>
            <div class="col-md-5">
            <table class="table table-responsive table-bordered table-striped">
                <tr><td><b>Název:</b></td><td> {$prvek->nazev}</td></tr>
                <tr><td><b>Název anglicky:</b></td><td> {$prvek->nazev_eng}</td></tr>
                <tr><td><b>Rozměry:</b></td><td> {$prvek->rozmery}</td></tr>
                <tr><td><b>Váha:</b></td><td> {$prvek->vaha}</td></tr>
                <tr><td><b>Příkon:</b></td><td> {$prvek->prikon}</td></tr>
                <tr><td><b>Cena:</b></td><td> {$prvek->cena}</td></tr>
                <tr><td><b>Cena pronájmu:</b></td><td> {$prvek->cena_pronajmu}</td></tr>
                <tr><td><b>Počet KS:</b></td><td> {$prvek->pocet}</td></tr>
                <tr><td><b>Poznámka:</b></td><td> {$prvek->poznamka}</td></tr>
                <tr><td><b>Zobrazovat na webu:</b></td><td> {if $prvek->zobrazit == "1"}Ano{else}Ne{/if}</td></tr>
            </table>
            </div>
            <div class="col-md-5">
                {if $prvek->obrazek == NULL}
                    <img src="http://www.syjdj.com/core/images/etc/noimg_main.gif" />
                {else}
                    <img src="{$basePath}/{$prvek->obrazek}" width="100%"/>
                {/if}
            </div>
            <div class="col-lg-12">Upraveno: {$prvek->update_time}</div>
            <br/>            
            <div class="col-lg-12">
                <a n:href="pdf, $prvek->id" target="_blank">Vytvořit PDF</a>
            </div>
        </div>
    </div>
{else}<h1>Nemáte právo pro tuto akci!{/if}
    {/block}