<img src="{$basePath}/images/lista.jpg">
<br>
<br>
<div style="float: left; width: 49%;">
    <table cellpadding="4" cellspacing="0">
        <tr>
            <td colspan="2" ><hr style="border: 1px solid black;"></td>
        </tr>
        <tr>
            <td class="bold" width="130px" nowrap>Český název:</td>
            <td><div style="padding-left: 5px; padding-right: 5px;">{$nazev_cz}</div></td>
        </tr>
        <tr>
            <td class="bold" width="130px" nowrap>Anglický název:</td>
            <td><div style="padding-left: 5px; padding-right: 5px;">{$nazev_eng}</div></td>
        </tr>
        <tr>
            <td class="bold" width="130px" nowrap>Rozměry:</td>
            <td><div style="padding-left: 5px; padding-right: 5px;">{$rozmery}</div></td></tr>
        <tr>
            <td class="bold" width="130px" nowrap>Váha:</td>
            <td><div style="padding-left: 5px; padding-right: 5px;">{$vaha}</div></td>
        </tr>
        <tr>
            <td class="bold" width="130px" nowrap>Příkon:</td>
            <td><div style="padding-left: 5px; padding-right: 5px;">{$prikon}</div></td>
        </tr>
        <tr>
            <td class="bold" width="130px" nowrap>Cena</td>
            <td><div style="padding-left: 5px; padding-right: 5px;">{$cena}</div></td>
        </tr>
        <tr>
            <td class="bold" width="130px" nowrap>Cena pronájmu:</td>
            <td><div style="padding-left: 5px; padding-right: 5px;">{$cena_pronajmu}</div></td>
        </tr>
        <tr>
            <td class="bold" width="130px" nowrap>Počet</td>
            <td><div style="padding-left: 5px; padding-right: 5px;">{$pocet}</div></td>
        </tr>
        <tr>
            <td class="bold" width="130px" nowrap>Zobrazovat na webu:</td>
            <td><div style="padding-left: 5px; padding-right: 5px;">{if $zobrazovat == "1"}Ano{else}Ne{/if}</div></td>
        </tr>
    </table>
</div>
<div style="float: left; width: 49%; margin-top: 25px;">
    <img src="{$basePath}/{$obrazek}">
</div>
<div>Poznámka:<br>{$poznamka}</div>