{block content}
<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <h1>Přihlášení<small> do administrace </small></h1>
        {control signInForm}
    </div>
</div>
{/block}
    