{block content}
{if $user->identity->data["projekt_prohlizeni"] == "1"}
    <nav>{if $user->identity->data["projekt_upravy"] == "1"}<center><div>&nbsp;&nbsp;&nbsp;<a n:href="zalozit" class="pure-button pure-button-primary">Založit nový projekt</a></div></center>{/if}</nav>
    <div class="row">
        <h1 style="font-size: 20px; margin-bottom:5px; vertical-align:middle;"><img src="{$basePath}/pic/timer.gif" alt="Výpis projektů" style="vertical-align:middle;">&nbsp;&nbsp;Výpis projektů</h1>
        <div class="control_green">
            <a href="">Aktuální projekty</a> |
            <a href="">Celý rok</a> |

            <a href="">2011</a> |
            <a href="">2012</a> |
            <a href="">2013</a> |
            <a href="">2014</a> |
            <a href="">2015</a> |
        </div>
    </div>
    <br/>
    <div class="row">
        <b style="color:red">NESCHVÁLENÝ</b>&nbsp;&nbsp;&nbsp;
        <b style="color:orange">PŘIPRAVUJE SE</b>&nbsp;&nbsp;&nbsp;
        <b style="color:green">SCHÁLENÝ</b>&nbsp;&nbsp;&nbsp;
        <b style="color:blue">UZAVŘENÝ</b>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="table table-bordered table-hover tablesorter">
            <thead>
                <tr>
                    <th class="header"><a href="#"><i class="fa fa-sort"></i> ID</a></th>
                    <th class="header"><a href="#"><i class="fa fa-sort"></i> Název</a></th>
                    <th class="header"><a href="#"><i class="fa fa-sort"></i> Zákazník</a></th>
                    <th class="header"><a href="#"><i class="fa fa-sort"></i> Plocha</a></th>
                    <th class="header"><a href="#"><i class="fa fa-sort"></i> Od</a></th>
                    <th class="header"><a href="#"><i class="fa fa-sort"></i> Do</a></th>
                    <th class="header">Akce</th>
                </tr>
            </thead>

            <tbody>
                <tr n:foreach="$projekty as $p">
                    {if $p->schvaleno == '1'}<TD ALIGN="right" style="background-color: orange" title="připravuje se">
                            {if $user->identity->data["projekt_upravy"] == "1"}<a n:href="upravit, $p->id" style="font-weight: bold; color: white;">{$p->id}</a>
                                {else}<a n:href="zobrazit, $p->id" target="_blank" style="font-weight: bold; color: white;">{$p->id}</a>
                            {/if}
                            </td>
                    {elseif $p->schvaleno == '2'}<TD ALIGN="right" style="background-color: green" title="možné realizovat">
                            {if $user->identity->data["projekt_upravy"] == "1"}<a n:href="upravit, $p->id" style="font-weight: bold; color: white;">{$p->id}</a>
                                {else}<a n:href="zobrazit, $p->id" target="_blank" style="font-weight: bold; color: white;">{$p->id}</a>
                            {/if}
                            </td>
                    {elseif $p->schvaleno == '3'}<TD ALIGN="right" style="background-color: blue" title="uzavřen">
                            {if $user->identity->data["projekt_upravy"] == "1"}<a n:href="upravit, $p->id" style="font-weight: bold; color: white;">{$p->id}</a>
                                {else}<a n:href="zobrazit, $p->id" target="_blank" style="font-weight: bold; color: white;">{$p->id}</a>
                            {/if}
                            </td>
                    {else}<td ALIGN="right" style="background-color: red"  title="neschváleno">
                            {if $user->identity->data["projekt_upravy"] == "1"}<a n:href="upravit, $p->id" style="font-weight: bold; color: white;">{$p->id}</a>
                                {else}<a n:href="zobrazit, $p->id" target="_blank" style="font-weight: bold; color: white;">{$p->id}</a>
                            {/if}
                        </td>
                    {/if}
                    <td>{$p->nazev}</td>
                    <td>{$p->zakaznik}</td>
                    <td style="text-align:center;">{$p->plocha_stanku}</td>
                    <td style="text-align:center; width: 100px;">{$p->start_date|date:"j. n. Y"}</td>
                    <td style="text-align:center; width: 100px;">{$p->end_date|date:"j. n. Y"}</td>
                    <td style="width: 80px;">
                        {if $user->identity->data["projekt_upravy"] == "1"}<a n:href="upravit, $p->id"><img src="{$basePath}/pic/edit.gif" alt="Editovat projekt" title="Editovat projekt"></a>{else}-{/if}
                        <a n:href="zobrazit, $p->id" target="_blank"><img src="{$basePath}/pic/detail.png" alt="Detail projektu" title="Detail projektu"></a>
                        {if $user->identity->data["projekt_mazani"] == "1"}<a n:href="smazat!, $p->id" onClick="return dotaz();"><img src="{$basePath}/pic/delete.gif" alt="Smazat projekt" title="Smazat projekt"></a>{else}-{/if}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{else}<h1>Nemáte právo pro tuto akci!{/if}
    {/block}