{block content}
{if $user->identity->data["projekt_prohlizeni"] == "1"}
    <nav>{if $user->identity->data["projekt_upravy"] == "1"}<center><div>&nbsp;&nbsp;&nbsp;<a n:href="default" class="pure-button pure-button-primary">Zpět na výpis projektů</a></div></center>{/if}</nav>
    <div class="row">
        <h1 style="font-size: 20px; margin-bottom:20px; vertical-align:middle;"><img src="{$basePath}/pic/wheel.gif" alt="Editace projektu" style="vertical-align:middle;">&nbsp;&nbsp;Vytvoření nového projektu</h1>
    </div>
    <br/>
    <div class="row">
        <div class="table-responsive">
            {form projektyForm}
                <fieldset style="border:1px dashed green; background-color: #F5FFE6;">
                    <legend style="font-weight:bold; color:green;">Informace o zákazníkovi&nbsp;&nbsp;</legend>
                    <table class="table table-bordered table-hover tablesorter">
                        <tr><td width="110px" nowrap><b>ID projektu: </b></td><td><b>{input nazev}</b></td></tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr>
                            <td colspan="2">
                                <a href=""><img src="{$basePath}/pic/vloz_zakaznika_big.png" alt="Vyhledat a vložit zákazníka" title="Vyhledat a vložit zákazníka"/></a>
                                <a href=""><img src="{$basePath}/pic/vytvor_zakaznika_big.png" alt="Vytvořit zákazníka z údájů v projektu" title="Vytvořit zákazníka z údájů v projektu"/></a>
                            </td>
                        </tr>
                        <tr><td><b>Firma:</b><b class="star" title="povinná poloľka">*</b></td><td>{input firma}</td></tr>
                        <tr><td><b>IČ:</b></td><td>{input ic}</td></tr>
                        <tr><td><b>DIČ:</b></td><td>{input dic}</td></tr>
                        <tr><td><b>Jméno:</b></td><td>{input jmeno}</td></tr>
                        <tr><td><b>Ulice:</b></td><td>{input ulice}</td></tr>
                        <tr><td><b>Město:</b></td><td>{input mesto}</td></tr>
                        <tr><td><b>PSČ:</b></td><td>{input psc}</td></tr>
                        <tr><td><b>Telefon:</b></td><td>{input telefon}</td></tr>
                        <tr><td><b>Mail:</b></td><td>{input mail}</td></tr>
                        <tr><td><b>Web:</b></td><td>{input web}</td></tr>
                    </table>
                </fieldset>

                <fieldset style="border:1px dashed green; background-color: #F5FFE6;">
                    <legend style="font-weight:bold; color:green;">Informace o projektu</legend>
                    <table class="table table-bordered table-hover tablesorter">
                        <tr><td width="110px" nowrap><b>Název akce:</b><b class="star" title="povinná polośka">*</b></td><td>{input nazev}</td></tr>
                        <tr><td><b>Název stánku:</b></td><td>{input nazev_stanku}</td></tr>
                        <tr><td><b>Adresa stánku:</b></td><td>{input adresa_stanku}</td></tr>
                        <tr><td><b>Číslo stánku:</b></td><td>{input cislo_stanku}</td></tr>
                        <tr><td><b>Plocha stánku:</b></td><td>{input plocha_stanku}</td></tr>
                        <tr><td><b>Začátek montáže:</b></td><td>{input montaz_zacatek}</td></tr>
                        <tr><td><b>Začátek akce:</b></td><td>{input start_date}</td></tr>
                        <tr><td><b>Konec akce:</b></td><td>{input end_date}</td></tr>
                        <tr><td><b>Konec demontáľe:</b></td><td>{input demontaz_konec}</td></tr>
                        <tr><td valign=top><b>Popis:</b></td><td>{input popis}</td></tr>
                        <tr><td><b>Stav projektu:</b></td><td>{input stav}</td></tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td><td>poznámka: Pro modifikaci projektu je potřeba změnit jeho stav na jiný neľ <span class="italika_bold">uzavřen</span>.</td></tr>
                    </table>
                </fieldset>

                <fieldset style="border:1px dashed green; background-color: #F5FFE6;">
                    <legend style="font-weight:bold; color:green;">Přiložit dokumenty</legend>
                    <table class="table table-bordered table-hover tablesorter">
                        <tr><td><b>Soubor(y):</b></td><td>{input dokumenty}</td></tr>
                    </table>
                </fieldset>

                <fieldset style="border:1px dashed green; background-color: #F5FFE6;">
                    <legend style="font-weight:bold; color:green;">Obrázky návrhu projektu</legend>
                    <table class="table table-bordered table-hover tablesorter">
                        <tr><td><b>Soubor(y):</b></td><td>{input dokumenty}</td></tr>
                    </table>
                </fieldset>

                <fieldset style="border:1px dashed green; background-color: #F5FFE6;">
                    <legend style="font-weight:bold; color:green;">Obrázky hotového projektu</legend>
                    <table class="table table-bordered table-hover tablesorter">
                        <tr><td><b>Soubor(y):</b></td><td>{input dokumenty}</td></tr>
                    </table>
                </fieldset>

                <fieldset style="border:1px dashed green; background-color: #F5FFE6;">
                    <legend style="font-weight:bold; color:green;">Prvky</legend>
                    <table class="table table-bordered table-hover tablesorter">
                        <tr><td><b>Soubor(y):</b></td><td>{input dokumenty}</td></tr>
                    </table>
                </fieldset>
                <br>
                <center>{input send}</center>
                {/form}
        </div>
    </div>
{else}<h1>Nemáte právo pro tuto akci!{/if}
    {/block}