{block content}
<nav>{if $user->identity->data["rad_sprava"] == "1"}<center><a n:href="Rad:pridat" class="pure-button pure-button-primary">přidat nový dokument</a></center>{/if}</nav>

<div class="row">
    <h1><img src="{$basePath}/pic/timer.gif" alt="Dokumenty pracovního řádu" style="vertical-align:middle;">&nbsp;&nbsp;Dokumenty pracovního rádu</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover tablesorter">
            <thead>
                <tr>
                    <th class="header">Název dokumentu</th>
                    <th class="header">Datum poslední změny</th>
                    <th class="header" colspan="4">Akce</th>
                </tr>
            </thead>

            <tbody>
                <tr n:foreach="$doc as $doc">
                    <td><a href="{$basePath}/upload/{$doc->cesta}.{$doc->koncovka}" target="_blank">{if $doc->tucny == "1"}<b>{$doc->nazev}</b>{else}{$doc->nazev}{/if}</a></td>
                    <td style="width: 175px; padding-left: 10px;">{$doc->datum}</td>
                    {if $user->identity->data["rad_sprava"] == "1"}
                        {if $iterator->first}<td></td>{else}<td align="center"><a n:href="up!, $doc->id"><img src="{$basePath}/pic/prvek_up.png" alt="Přesuň dokument o řádek výše" title="Přesuň dokument o řádek výše"></a></td>{/if}
                        {if $iterator->last}<td></td>{else}<td align="center"><a n:href="down!, $doc->id"><img src="{$basePath}/pic/prvek_down.png" alt="Přesuň dokument o řádek níže" title="Přesuň dokument o řádek níže"></a></td>{/if}
                        <td align="center"><a n:href="upravit, $doc->id"><img src="{$basePath}/pic/edit.gif" alt="Editovat uživatele" title="Editovat projekt"></a></td>
                        <td align="center"><a n:href="smazat!, $doc->id" onClick="return dotaz();"><img src="{$basePath}/pic/delete.gif" alt="Smazat uživatele" title="Smazat uživatele"></a></td>
                    {/if}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{/block}