{block content}
<div class="row">
    <center>
        {if $user->identity->data["rad_sprava"] == "1"}
            <nav><a n:href="Rad:default" class="pure-button pure-button-primary">zpět na dokumenty pracovního řádu</a></nav>
            <h1><img src="{$basePath}/pic/wheel.gif" alt="Editace dokumentu pracovního řádu" style="vertical-align:middle;">&nbsp;&nbsp;Editace dokumentu pracovního řádu</h1>
                {form dokumentForm class => 'pure-form'}
                {if $form->hasErrors()}
                    <div n:foreach="$form->errors as $errorMessage" class="alert alert-danger">
                        {$errorMessage}
                    </div>
                {/if}
                <fieldset>
                    <legend>Informace o dokumentu</legend>
                    <div class="table-responsive">
                        <table border="0" cellspacing="10" class="table-hover tablesorter pure-table pure-table-bordered">
                            <tr><td><b>stávající dokument:</b></td>
                                <td valign="middle">
                                    <a href="{$basePath}/upload/{$doc->cesta}.{$doc->koncovka}"><img src="{$basePath}/ico/{$doc->koncovka}_ico.gif" alt="{$doc->nazev}" title="{$doc->nazev}"/></a>
                                </td>
                            </tr>
                            <tr><td><b>text odkazu:</b></td><td>{input nazev size => '70'}</td></tr>
                            <tr><td><b>odkaz tučně:</b></td><td>{input tucny}</td></tr>
                            <tr><td colspan=2><center>{input send}</center></td></tr>
                        </table>
                    </div>
                </fieldset>
            {/form}
        {else}<h1>Nemáte právo pro tuto akci!{/if}
    </center>
</div>
{/block}