<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Artao.cz">
        <title>Skladový systém - papst.cz</title>
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        <script src="{$basePath}/js/nete.ajax.js"></script>
        <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" href="http://necolas.github.io/normalize.css/3.0.0/normalize.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
        <link href="{$basePath}/css/styly.css" rel="stylesheet" type="text/css">
        <script src="{$basePath}/js/main.js"></script>
        <script src="{$basePath}/js/jquery.tablesorter.js"></script>
        <script>
            function dotaz() {
                if (window.confirm("Opravdu si přejete provést tuto akci?"))
                {
                    return true;
                }
                else
                    return false;
            }
        </script>
    </head>

    <body>
        <div id="wrapper">
            {if $user->isLoggedIn()}
                <header> 
                    <center>
                        <nav class="pure-menu pure-menu-open pure-menu-horizontal">
                            <ul>
                                {if $user->identity->data["projekt_prohlizeni"] == "1"}<li><a n:href="Projekty:default">PROJEKTY</a></li>{/if}
                                {if $user->identity->data["zakaznici_prohlizeni"] == "1"}<li><a n:href="Zakaznici:default">ZÁKAZNÍCI</a></li>{/if}
                                {if $user->identity->data["sklad_prohlizeni"] == "1"}<li><a n:href="Sklad:default">SKLAD</a></li>{/if}
                                {if $user->identity->data["uzivatele"] == "1"}<li><a n:href="Users:default">UŽIVATELÉ</a></li>{/if}
                                {if $user->identity->data["rad_prohlizeni"] == "1"}<li><a n:href="Rad:default">PRACOVNÍ ŘÁD</a></li>{/if}
                                <li><a n:href="Ucet:default, $user->identity->data['id']">{$user->identity->data["name"]|upper}</a></li>
                                <li><a n:href="Sign:Out">ODHLÁSIT</a></li>
                            </ul>
                        </nav>
                    </center>
                </header>
            {/if}
            <div n:foreach="$flashes as $flash" class="{$flash->type} alert-dismissable">
                {$flash->message}
            </div>
            <div id="page-wrapper">
                <div class="container">
                    {include #content}
                </div>
            </div>
            <!-- Footer -->
            <footer>
                <p class="credits">&copy; 2014 Papst.cz<br/>Developed by <a href="http://www.artao.cz" title="Webdesign a tvorba webu Artao">Webdesign &amp; tvorba webu Artao</a></p>
            </footer>
        </div>
    </body>
</html>