{block content}
{if $user->identity->data["zakaznici_prohlizeni"] == "1"}
    <nav>
        <center>
            <a n:href="Zakaznici:pridat" class="pure-button pure-button-primary"> přidat nového zákazníka</a>
            <a n:href="Zakaznici:statistika" class="pure-button pure-button-primary"> statistika</a>
        </center>
    </nav>
    <div class="row">
        <h1 style="font-size: 20px; margin-bottom:5px; vertical-align:middle;"><img src="{$basePath}/pic/users.png" alt="Výpis zákazníků" style="vertical-align:middle;">&nbsp;&nbsp;Výpis zákazníků</h1>
    </div>
    <br/>
    <div class="row">
        <h2>Vyhledání zákazníka:</h2>
        {form hledatForm}
            <div class="table-responsive">
                <table class="table table-bordered">     
                    <tr>
                        <td>Firma:</td><td>{input firma}</td>
                        <td>IČ:</td><td>{input ic}</td>
                        <td>DIČ:</td><td>{input dic}</td>
                    </tr>
                    <tr>
                        <td>Jméno:</td><td>{input jmeno}</td>
                        <td>Přijmení:</td><td>{input prijmeni}</td>
                        <td>Ulice:</td><td>{input ulice}</td>
                    </tr>
                    <tr>
                        <td>Město:</td><td>{input mesto}</td>
                        <td>Poznámka</td><td>{input pozn}</td>
                        <td>Web:</td><td>{input web}</td>
                    </tr>
                    <tr align="center"><td colspan="6">{input send}</td></tr>
                </table>
            </div>
        {/form}
    </div>
    <br/>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">            
                <thead>
                    <tr>
                        <th class="header"><a href="#"><i class="fa fa-sort"></i> ID</a></th>
                        <th class="header"><a href="#"><i class="fa fa-sort"></i> <b>Firma</b></a></th>
                        <th class="header"><a href="#"><i class="fa fa-sort"></i> <b>IČ</b></a></th>
                        <th class="header"><a href="#"><i class="fa fa-sort"></i> <b>DIČ</b></a></th>
                        <th class="header"><a href="#"><i class="fa fa-sort"></i> <b>Jméno</b></a></th>
                        <th class="header"><a href="#"><i class="fa fa-sort"></i> <b>Přijmení</b></a></th>
                        <th class="header"><a href="#"><i class="fa fa-sort"></i> <b>Město</b></a></th>
                        <th class="header"><a href="#"><i class="fa fa-sort"></i> <b>Telefon</b></a></th>
                        <th class="header"><a href="#"><i class="fa fa-sort"></i> <b>Email</b></a></th>
                        <th class="header"><a href="#"><i class="fa fa-sort"></i> <b>Poznámka</b></a></th>
                        <th class="header" colspan=4><b>Akce</b></th>
                    </tr>
                </thead>

                <tbody>
                    <tr n:foreach="$zakaznici as $z">
                        <td>{$z->id}</td>
                        <td>{if $user->identity->data["zakaznici_editace"] == "1"}<a n:href="upravit, $z->id">{else}<a n:href="zobrazit, $z->id" target="_blank">{/if}{$z->firma}</a></td>
                        <td>{$z->ic}</td>
                        <td>{$z->dic}</td>
                        <td>{$z->jmeno}</td>
                        <td>{$z->prijmeni}</td>
                        <td>{$z->mesto}</td>
                        <td>{$z->telefon}</td>
                        <td><a href="mailto:{$z->mail}">{$z->mail}</a></td>
                        <td>{$z->pozn}</td>
                        {if $user->identity->data["zakaznici_prohlizeni"] == "1"}<td align="center"><a n:href="Projekty:vlozit, $z->id"><img src="{$basePath}/pic/vloz_zakaznika.png" alt="Vložit zákazníka do projektu" title="Vložit zákazníka do projektu"></a></td>{else}<td>-</td>{/if}
                        {if $user->identity->data["zakaznici_editace"] == "1"}<td align="center"><a n:href="upravit, $z->id"><img src="{$basePath}/pic/edit.gif" alt="Editovat uživatele" title="Editovat uživatele"></a></td>{else}<td>-</td>{/if}
                        {if $user->identity->data["zakaznici_prohlizeni"] == "1"}<td align="center"><a n:href="zobrazit, $z->id" target="_blank"><img src="{$basePath}/pic/detail.png" alt="Detail zákazníka" title="Detail zákazníka"></a></td>{else}<td>-</td>{/if}
                        {if $user->identity->data["zakaznici_editace"] == "1"}<td align="center"><a n:href="smazat!, $z->id" onClick="return dotaz();"><img src="{$basePath}/pic/delete.gif" alt="Smazat uživatele" title="Smazat uživatele"></a></td>{else}<td>-</td>{/if}
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
{else}<h1>Nemáte právo pro tuto akci!{/if}
    {/block}