{block content}
{if $user->identity->data["zakaznici_prohlizeni"] == "1"}
    <nav>
        <center>
            <a n:href="Zakaznici:pridat" class="pure-button pure-button-primary"> přidat nového zákazníka</a>
            <a n:href="Zakaznici:statistika" class="pure-button pure-button-primary"> statistika</a>
            <a n:href="Zakaznici:default" class="pure-button pure-button-primary"> zobrazit všechny zákazníky</a>
        </center>
    </nav>
    <div class="row">
        <h1 style="font-size: 20px; margin-bottom:5px; vertical-align:middle;"><img src="{$basePath}/pic/users.png" alt="Výpis zákazníků" style="vertical-align:middle;">&nbsp;&nbsp;Výpis zákazníků</h1>
    </div>
    <br/>
    <div class="row">
        <h2>Vyhledání zákazníka:</h2>
        {form hledatForm}
                {if $form->hasErrors()}
                    <div n:foreach="$form->errors as $errorMessage" class="alert alert-danger">
                        {$errorMessage}
                    </div>
                {/if}
            <div class="table-responsive">
                <table class="table table-bordered">     
                    <tr>
                        <td>Firma:</td><td>{input firma}</td>
                        <td>IČ:</td><td>{input ic}</td>
                        <td>DIČ:</td><td>{input dic}</td>
                    </tr>
                    <tr>
                        <td>Jméno:</td><td>{input jmeno}</td>
                        <td>Přijmení:</td><td>{input prijmeni}</td>
                        <td>Ulice:</td><td>{input ulice}</td>
                    </tr>
                    <tr>
                        <td>Město:</td><td>{input mesto}</td>
                        <td>Poznámka</td><td>{input pozn}</td>
                        <td>Web:</td><td>{input web}</td>
                    </tr>
                    <tr align="center"><td colspan="6">{input send}</td></tr>
                </table>
            </div>
        {/form}
    </div>
    <br/>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">            
                <thead>
                    <tr>
                        <th class="header">ID</th>
                        <th class="header"><b>Firma</b></th>
                        <th class="header"><b>IČ</b></th>
                        <th class="header"><b>DIČ</b></th>
                        <th class="header"><b>Jméno</b></th>
                        <th class="header"><b>Přijmení</b></th>
                        <th class="header"><b>Město</b></th>
                        <th class="header"><b>Telefon</b></th>
                        <th class="header"><b>Email</b></th>
                        <th class="header"><b>Poznámka</b></th>
                        <th class="header" colspan=4><b>akce</b></th>
                    </tr>
                </thead>

                <tbody>
                    <tr n:foreach="$hledat as $q">
                        <td>{$q->id}</td>
                        <td>{if $user->identity->data["zakaznici_editace"] == "1"}<a n:href="upravit, $q->id">{else}<a n:href="zobrazit, $q->id" target="_blank">{/if}{$q->firma}</a></td>
                        <td>{$q->ic}</td>
                        <td>{$q->dic}</td>
                        <td>{$q->jmeno}</td>
                        <td>{$q->prijmeni}</td>
                        <td>{$q->mesto}</td>
                        <td>{$q->telefon}</td>
                        <td>{$q->mail}</td>
                        <td>{$q->pozn}</td>
                        {if $user->identity->data["zakaznici_prohlizeni"] == "1"}<td align="center"><a n:href="vlozit, $q->id"><img src="{$basePath}/pic/vloz_zakaznika.png" alt="Vložit zákazníka do projektu" title="Vložit zákazníka do projektu"></a></td>{else}<td>-</td>{/if}
                        {if $user->identity->data["zakaznici_editace"] == "1"}<td align="center"><a n:href="upravit, $q->id"><img src="{$basePath}/pic/edit.gif" alt="Editovat uživatele" title="Editovat uživatele"></a></td>{else}<td>-</td>{/if}
                        {if $user->identity->data["zakaznici_prohlizeni"] == "1"}<td align="center"><a n:href="zobrazit, $q->id" target="_blank"><img src="{$basePath}/pic/detail.png" alt="Detail zákazníka" title="Detail zákazníka"></a></td>{else}<td>-</td>{/if}
                        {if $user->identity->data["zakaznici_editace"] == "1"}<td align="center"><a n:href="smazat!, $q->id" onClick="return dotaz();"><img src="{$basePath}/pic/delete.gif" alt="Smazat uživatele" title="Smazat uživatele"></a></td>{else}<td>-</td>{/if}
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
{else}<h1>Nemáte právo pro tuto akci!{/if}
    {/block}