{block content}
{if $user->identity->data["zakaznici_editace"] == "1"}
    <nav><center><a n:href="Zakaznici:default" class="pure-button pure-button-primary"> zpět na výpis zákazníků</a></center></nav>
    <div class="row">
        <h1 style="font-size: 20px; margin-bottom:5px; vertical-align:middle;"><img src="{$basePath}/pic/user_edit.png" alt="Přidání zákazníka" style="vertical-align:middle;">&nbsp;&nbsp;Přidní zákazníka</h1>
    </div>
    <br/>
    <div class="row">
        <div class="table-responsive">
            {form zakaznikForm}
                {if $form->hasErrors()}
                    <div n:foreach="$form->errors as $errorMessage" class="alert alert-danger">
                        {$errorMessage}
                    </div>
                {/if}
                <fieldset style="border: 1px dashed #FF8C00; background-color: rgb(255, 204, 170); width: 750px;">
                    <legend style="font-weight:bold; color:#FF8C00;">Firemní údaje</legend>
                        <table class="table table-bordered table-hover tablesorter">
                            <tr><td><b>Firma:</b> *</td><td>{input firma}</td></tr>
                            <tr><td><b>IČ:</b></td><td>{input ic}</td></tr>
                            <tr><td><b>DIČ:</b></td><td>{input dic}</td></tr>
                            <tr><td colspan="2" align="center"><a n:href="nactiAres!">Načíst data z ARESu</a></td></tr>
                        </table>
                </fieldset>
                        
                <fieldset style="border: 1px dashed #FF8C00; background-color: rgb(255, 204, 170); width: 750px;">
                    <legend style="font-weight:bold; color:#FF8C00;">Informace</legend>
                        <table class="table table-bordered table-hover tablesorter">
                            <tr><td><b>Titul před jménem:</b></td><td>{input titul_pred}</td></tr>
                            <tr><td><b>Jméno:</b> *</td><td>{input jmeno}</td></tr>
                            <tr><td><b>Příjmení:</b> *</td><td>{input prijmeni}</td></tr>
                            <tr><td><b>Titul za příjmením:</b></td><td>{input titul_po}</td></tr>
                            <tr><td><b>Ulice, číslo:</b> *</td><td>{input ulice}</td></tr>
                            <tr><td><b>Město:</b> *</td><td>{input mesto}</td></tr>
                            <tr><td><b>PČS:</b> *</td><td>{input psc}</td></tr>
                        </table>
                </fieldset>
                        
                <fieldset style="border: 1px dashed #FF8C00; background-color: rgb(255, 204, 170); width: 750px;">
                    <legend style="font-weight:bold; color:#FF8C00;">Kontakt</legend>
                        <table class="table table-bordered table-hover tablesorter">
                            <tr><td><b>Telefon:</b></td><td>{input telefon}</td></tr>
                            <tr><td><b>Mail:</b></td><td>{input mail}</td></tr>
                            <tr><td><b>Web:</b></td><td>{input web}</td></tr>
                            <tr><td><b>Pozn:</b></td><td>{input pozn}</td></tr>
                            <tr><td>&nbsp;</td><td>Pole označená symbolem * jsou povinná</td></tr>
                            <tr><td colspan="2" align="center">{input send}</td></tr>
                        </table>
                </fieldset>
            {/form}
        </div>
    </div>
{else}<h1>Nemáte právo pro tuto akci!{/if}
    {/block}