{block content}
{if $user->identity->data["zakaznici_statistika"] == "1"}
    <nav>
        <center>
            <a n:href="Zakaznici:pridat" class="pure-button pure-button-primary"> přidat nového zákazníka</a>
            <a n:href="Zakaznici:default" class="pure-button pure-button-primary"> zobrazit všechny zákazníky</a>
        </center>
    </nav>
    <div class="row">
        <h1 style="font-size: 20px; margin-bottom:5px; vertical-align:middle;"><img src="{$basePath}/pic/users.png" alt="Statistika zákazníků" style="vertical-align:middle;">&nbsp;&nbsp;Statistika zákazníků</h1>
    </div>
    <br/>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">            
                <thead>
                    <tr>
                        <th class="header">ID</th>
                        <th class="header"><b>Firma</b></th>
                        <th class="header"><b>Město</b></th>
                        <th class="header"><b>Datum posledního projektu</b></th>
                        <th class="header"><b>Počet projektů</b></th>
                        <th class="header" colspan=2><b>akce</b></th>
                    </tr>
                </thead>

                <tbody>
                    <tr n:foreach="$zakaznici as $z">
                        <td>{$z->id}</td>
                        <td>{if $user->identity->data["zakaznici_editace"] == "1"}<a n:href="detail, $z->id">{else}<a n:href="zobrazit, $z->id" target="_blank">{/if}{$z->firma}</a></td>
                        <td>{$z->mesto}</td>
                        <td>{$z->telefon}</td>
                        <td>{$z->mail}</td>
                        {if $user->identity->data["zakaznici_prohlizeni"] == "1"}<td align="center"><a n:href="detail, $z->id" target="_blank"><img src="{$basePath}/pic/detail.png" alt="Detail zákazníka" title="Detail zákazníka"></a></td>{else}<td>-</td>{/if}
                        <td><input type="checkbox"></td>
                    </tr>
                </tbody>
            </table>
        </div>      
{else}<h1>Nemáte právo pro tuto akci!{/if}
{/block}