{if $user->identity->data["zakaznici_prohlizeni"] == "1"}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
        <title>podrobné info o zákazníkovi</title>
        <style>
            body
            {
                font-family: Arial, Arial CE, sans-serif;
                font-size: 13px;
            }

            .bold
            {
                font-weight:bold;
            }
            .linka
            {
                border-bottom: 1px solid black;
            }
            img
            {
                border:0px;
            }
            .nadpis
            {
                width:100%;
                text-align: left;
                font-family: Arial, Arial CE, sans-serif;
                font-size: 25px;
            }

        </style>

    </head>

    <body>
        <div style="width:750px;">
            <img src="{$basePath}/images/lista.jpg"><br/>
            <span class="nadpis">Informace o zákazníkovi - {$zakaznik->titul_pred} {$zakaznik->jmeno} {$zakaznik->prijmeni} {$zakaznik->titul_po}</span>

            <table cellpadding="4" cellspacing="0" width="750">
                <tr><td colspan="2" ><hr style="border: 1px solid black;"></td></tr>
                <tr><td class="bold" width="130px" nowrap>firma:</td><td><div style="padding-left: 5px; padding-right: 5px;">{$zakaznik->firma}</div></td></tr>
                <tr><td class="bold" width="130px" nowrap>ič:</td><td><div style="padding-left: 5px; padding-right: 5px;">{$zakaznik->ic}</div></td></tr>
                <tr><td class="bold" width="130px" nowrap>dič:</td><td><div style="padding-left: 5px; padding-right: 5px;">{$zakaznik->dic}</div></td></tr>
                <tr><td class="bold" width="130px" nowrap>jméno, příjmení:</td><td><div style="padding-left: 5px; padding-right: 5px;">{$zakaznik->titul_pred} {$zakaznik->jmeno} {$zakaznik->prijmeni} {$zakaznik->titul_po}</div></td></tr>
                <tr><td class="bold" width="130px" nowrap>ulice:</td><td><div style="padding-left: 5px; padding-right: 5px;">{$zakaznik->ulice}</div></td></tr>
                <tr><td class="bold" width="130px" nowrap>psč, město:</td><td><div style="padding-left: 5px; padding-right: 5px;">{$zakaznik->psc}, {$zakaznik->mesto}</div></td></tr>
                <tr><td class="bold" width="130px" nowrap>telefon:</td><td><div style="padding-left: 5px; padding-right: 5px;">{$zakaznik->telefon}</div></td></tr>
                <tr><td class="bold" width="130px" nowrap>mail:</td><td><div style="padding-left: 5px; padding-right: 5px;"><a href="mailto:{$zakaznik->mail}">{$zakaznik->mail}</a></div></td></tr>
                <tr><td class="bold" width="130px" nowrap>web:</td><td><div style="padding-left: 5px; padding-right: 5px;"><a href="http://{$zakaznik->web}" target="_blank">{$zakaznik->web}</a></div></td></tr>
                <tr><td class="bold" width="130px" nowrap>poznámka:</td><td><div style="padding-left: 5px; padding-right: 5px;">{$zakaznik->pozn}</div></td></tr>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr><td colspan="2"><a n:href="vcart, $zakaznik->id">vytvořit vCard</a></td></tr>
            </table>

            <div style="margin-top: 20px;">
                poslední změna údajů: {$zakaznik->datum_ulozeni|date:"j. n. Y"}
            </div>

        </div>

    </body>
</html> 
{else}<h1>Nemáte právo pro tuto akci!{/if}